# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Local archives / backup zips
*.zip

# Raw datasets
data/raw/

# Processed datasets (optional)
data/processed/

#stations datasets
data/metadata/stations_metadata.csv
data/metadata/station_mapping.csv
data/metadata/station_mapping.json

#report datasets
reports/validation/weather_validation.csv

reports

# Model outputs
models/checkpoints/
models/weights/

# Logs
logs/

export.py

results
test.py
